@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" asp-href-include="~/lib/font-awesome/css/*.css" />
</head>
<body>
    <div class="bg-danger mb-1 p-2 text-white"><h4>Access Denied</h4></div>
    <a asp-action="List" asp-controller="Product" class="btn btn-primary">OK</a>
</body>
</html>