@model ProductsListViewModel

@foreach (var p in Model.Products)
{
    @await Html.PartialAsync("ProductSummary", p)
}

<div page-model="@Model.PagingInfo" page-action="Search" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary" page-url-searchString="@Model.SearchedString"
     class="btn-group m-1">
</div>

