@model Product
@{
    ViewBag.Title = "Edit Product";
    Layout = "_AdminLayout";
}

<style>
    #upload {
        opacity: 0;
    }

    #upload-label {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
    }

    .image-area {
        border: 2px dashed rgba(255, 255, 255, 0.7);
        padding: 1rem;
        position: relative;
    }

        .image-area::before {
            content: 'Uploaded image result';
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 0.8rem;
            z-index: 1;
        }

        .image-area img {
            z-index: 2;
            position: relative;
        }
</style>

<form asp-action="EditProduct" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="ProductID" />
    <div class="form-group mt-3">
        <label asp-for="Name"></label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <div><span asp-validation-for="Description" class="text-danger"></span></div>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    Picture
    <div class="row py-4">
        <div class="col-lg-6 mx-auto">
            <!-- Upload image input-->

            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-dark">
                <input id="upload" type="file" onchange="readURL(this);" name="img" class="form-control border-0">
                <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                <div class="input-group-append">
                    <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                </div>
            </div>
            <!-- Uploaded image area-->
            <p class="font-italic text-center">The image uploaded will be rendered inside the box below.</p>
            <div class="image-area mt-4 border-dark"><img id="imageResult" src="@Model.ImagePath" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
            <script>
                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#imageResult')
                                .attr('src', e.target.result);
                        };
                        reader.readAsDataURL(input.files[0]);
                    }
                }

                $(function () {
                    $('#upload').on('change', function () {
                        readURL(input);
                    });
                });
            </script>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Category"></label>
        <div><span asp-validation-for="Category" class="text-danger"></span></div>
        <input asp-for="Category" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <div><span asp-validation-for="Price" class="text-danger"></span></div>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="ListUsers" class="btn btn-secondary">Cancel</a>
    </div>
</form>

<script>
    $.validator.methods.number = $.validator.methods.range = function (value, element) {
        return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
    }
</script>