<a class="btn text-white mt-1 @(ViewBag.SelectedButton == "ListUsers" ? "btn-primary" : "btn-secondary")" style="width: 95%" asp-controller="Admin" asp-action="ListUsers">Users</a>
<a class="btn text-white mt-1 @(ViewBag.SelectedButton == "ListProducts" ? "btn-primary" : "btn-secondary")" style="width: 95%;" asp-controller="Admin" asp-action="ListProducts">Products</a>
<a class="btn text-white mt-1 @(ViewBag.SelectedButton == "ListRoles" ? "btn-primary" : "btn-secondary")" style="width: 95%" asp-controller="Admin" asp-action="ListRoles">Roles</a>
<a class="btn text-white mt-1 @(ViewBag.SelectedButton == "ListRoles" ? "btn-primary" : "btn-secondary")" style="width: 95%" asp-controller="Admin" asp-action="ListCategories">Categories</a>