@model SpecificationFieldValue

<tr id="row">
    <td><input type="text" class="form-control" asp-for="@Model.SpecificationField.Name" /> </td>
    <td><input type="text" asp-for="@Model.Value" placeholder="Enter value" class="form-control" /></td>
</tr>